# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
client/node_modules
server/node_modules

# Build output
client/dist
server/dist
client/build
server/build

# Environment variables
client/.env
server/.env

# Temporary files
*.tmp
*.swp

# Editor-specific files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.env